<a href="https://colab.research.google.com/github/wcj365/data690fall21/blob/main/assignment_08/in_class_practice_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In Class Practice Session 8
- Name: Jay
- Date: 10/21/21

In [34]:
import pandas as pd
import plotly.express as px

In [35]:
df = pd.read_csv("/content/wdi_data.csv")
df.head()

   Unnamed: 0  Year        value  ...      Region Income Group Lending Type
0           0  2015  2087.305323  ...  South Asia   Low income          IDA
1           1  2016  1981.118069  ...  South Asia   Low income          IDA
2           2  2017  2058.400221  ...  South Asia   Low income          IDA
3           3  2018  2082.635648  ...  South Asia   Low income          IDA
4           4  2019  2152.366489  ...  South Asia   Low income          IDA

[5 rows x 9 columns]

In [36]:
df.sample(10)

      Unnamed: 0  Year  ...         Income Group    Lending Type
1333        1333  2018  ...  Upper middle income            IBRD
3925        3925  2016  ...          High income  Not classified
1376        1376  2016  ...          High income  Not classified
4188        4188  2019  ...  Upper middle income            IBRD
3526        3526  2017  ...  Lower middle income             IDA
894          894  2018  ...  Upper middle income            IBRD
724          724  2017  ...          High income            IBRD
2427        2427  2017  ...  Lower middle income             IDA
652          652  2015  ...  Upper middle income             IDA
4213        4213  2019  ...  Upper middle income           Blend

[10 rows x 9 columns]

In [37]:
df_2019 = df.query("Year == 2019")

df_2019.sample(10)

      Unnamed: 0  Year  ...         Income Group    Lending Type
3383        3383  2019  ...          High income            IBRD
3588        3588  2019  ...  Lower middle income           Blend
2042        2042  2019  ...           Low income             IDA
3868        3868  2019  ...  Lower middle income           Blend
1387        1387  2019  ...          High income  Not classified
3943        3943  2019  ...           Low income             IDA
1640        1640  2019  ...          High income  Not classified
3713        3713  2019  ...  Lower middle income            IBRD
4058        4058  2019  ...          High income  Not classified
3125        3125  2019  ...          High income  Not classified

[10 rows x 9 columns]

In [38]:
df_2019 = df_2019.query("indicator in ['SP.DYN.LE00.IN','NY.GDP.PCAP.PP.CD','SP.POP.TOTL']")
#  df_2019 = df_2019[df_2019["indicator"].isin(['SP.DYN.LE00.IN','NY.GDP.PCAP.PP.CD'])]

df_2019

      Unnamed: 0  Year  ...         Income Group    Lending Type
4              4  2019  ...           Low income             IDA
10            10  2019  ...  Upper middle income            IBRD
16            16  2019  ...  Lower middle income            IBRD
22            22  2019  ...  Lower middle income            IBRD
28            28  2019  ...          High income            IBRD
...          ...   ...  ...                  ...             ...
3413        3413  2019  ...          High income  Not classified
3419        3419  2019  ...  Lower middle income  Not classified
3425        3425  2019  ...           Low income             IDA
3431        3431  2019  ...  Lower middle income             IDA
3437        3437  2019  ...  Lower middle income           Blend

[606 rows x 9 columns]

In [39]:
df_2019.drop(columns=["Unnamed: 0", "Year"], inplace=True)

df_2019.head()

           value          indicator  ...         Income Group Lending Type
4    2152.366489  NY.GDP.PCAP.PP.CD  ...           Low income          IDA
10  14230.989507  NY.GDP.PCAP.PP.CD  ...  Upper middle income         IBRD
16  11997.337834  NY.GDP.PCAP.PP.CD  ...  Lower middle income         IBRD
22   6952.419362  NY.GDP.PCAP.PP.CD  ...  Lower middle income         IBRD
28  22460.019253  NY.GDP.PCAP.PP.CD  ...          High income         IBRD

[5 rows x 7 columns]

In [40]:
df_pivot = df_2019.pivot_table(index=['Country Code','Country Name','Region','Income Group','Lending Type'], columns='indicator', values='value').reset_index()
df_pivot.head()

indicator Country Code Country Name  ... SP.DYN.LE00.IN SP.POP.TOTL
0                  ABW        Aruba  ...         76.293    106310.0
1                  AFG  Afghanistan  ...         64.833  38041757.0
2                  AGO       Angola  ...         61.147  31825299.0
3                  ALB      Albania  ...         78.573   2854191.0
4                  AND      Andorra  ...            NaN     77146.0

[5 rows x 8 columns]

In [43]:
fig = px.scatter(
    df_pivot.dropna(),
    x="NY.GDP.PCAP.PP.CD",
    y="SP.DYN.LE00.IN",
    title="Health vs Wealth",
    labels={"SP.DYN.LE00.IN":"Life Expectancy", "NY.GDP.PCAP.PP.CD":"GDP per Capita"},
    color="Region",
    hover_name="Country Name",
    text="Country Name",
    size="SP.POP.TOTL"
)

fig.update_traces(textposition='top center')

fig.show()